# Pandas 다루기

### 인덱싱 & 슬라이싱
- DataFrame에서 원하는 데이터를 추출하기 위해 `loc()`, `iloc()` 메소드를 사용할 수 있음
- `loc()`, `iloc()`에 인덱스 값을 입력하면 원하는 데이터 인덱스를 추출 또는 추가 할 수 있음

### DataFrame에서 인덱싱과 슬라이싱을 하기 위한 함수/라이브러리
- `loc()`: **명시적** 인덱스를 참조하는 인덱싱/슬라이싱
- `df.loc[idx]`: DataFrame `df`에서 `idx`인덱스에 해당하는 값들을 추출
- `df.loc[idx0 : idx2]: DataFrame `df`에서 `idx0`부터 `idx2`인덱스에 해당하는 값들을 추출
- `iloc()`: **정수** 인덱스 인덱싱/슬라이싱. 단, `iloc()`의 경우 리스트와 같이 마지막 인덱스는 포함되지 않음
- `df.iloc[idx]`: DataFrame `df`에서 `idx`인덱스에 해당하는 값들을 추출
- `df.iloc[idx0, idx1]`: DataFrame `df`에서 `idx0`, `idx1`인덱스에 해당하는 값들을 추출
- `df.iloc[idx0 : idx2]`: DataFrame `df`에서 `idx0`부터 `idx2`인덱스에 해당하는 값들을 추출

---

### 데이터 삭제
- `drop()` 메소드를 사용하여 인덱스 및 column을 삭제할 수 있음

### DataFrame에서 인덱스와 column을 삭제하기 위한 함수/라이브러리
- `drop()`: 인덱스 값을 입력하여 원하는 데이터 인덱스를 삭제
- `df.drop([idx])`: DataFrame `df`에서 `idx`인덱스에 해당하는 값들을 삭제

---

### 실습
1. 아래와 같이 DataFrame 변수인 `human`을 만듦
```
            0       1       2       3       4
age      20.0    15.0    30.0    25.0    35.0
weight   68.5    60.3    53.4    74.1    80.7
height  180.0   165.0   155.0   178.0   185.0
```
2. `loc()`, `iloc()`을 이용해 `age`를 추출
```
0    20.0
1    15.0
2    30.0
3    25.0
4    35.0
Name: age, dtype: float64
```
3. `loc()`, `iloc()`을 이용해 `weight1`와 `height`만 추출
```
            0       1       2       3       4
weight   68.5    60.3    53.4    74.1    80.7
height  180.0   165.0   155.0   178.0   185.0
```
4. 새로운 데이터 `sex`를 `human`에 추가
```
            0       1       2       3       4
age      20.0    15.0    30.0    25.0    35.0
weight   68.5    60.3    53.4    74.1    80.7
height  180.0   165.0   155.0   178.0   185.0
sex         F       M       F       M       F
```
5. `drop()`으로 `humna`에서 `height`를 삭제
```
            0       1       2       3       4
age      20.0    15.0    30.0    25.0    35.0
weight   68.5    60.3    53.4    74.1    80.7
sex         F       M       F       M       F
```

In [1]:
import pandas as pd

a = pd.Series([20, 15, 30, 25, 35], name='age')
b = pd.Series([68.5, 60.3, 53.4, 74.1, 80.7], name='weight')
c = pd.Series([180, 165, 155, 178, 185], name ='height')

## 1. human DataFrame 만들기
human = pd.DataFrame([a,b,c])
print(human,'\n')

def main():
    ### 2. loc(), iloc() 함수를 이용하여 `age`를 추출
    print(human.loc['age'],'\n')
    print(human.iloc[0],'\n')
    
    ### 3. loc(), iloc() 함수를 이용하여 `weight`와 `height`만 추출
    print(human.loc['weight':'height'],'\n')
    print(human.iloc[1:3],'\n')
     
    sex = ['F','M','F','M','F']
    ### 4.새로운 데이터 `sex`를 `human`에 추가
    human.loc['sex'] = sex
    print(human,'\n')
    
    ### 5. `human`에서 `height`를 삭제
    tmp = human.drop(['height'])
    print(tmp,'\n')

main()

            0      1      2      3      4
age      20.0   15.0   30.0   25.0   35.0
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0

0    20.0
1    15.0
2    30.0
3    25.0
4    35.0
Name: age, dtype: float64

0    20.0
1    15.0
2    30.0
3    25.0
4    35.0
Name: age, dtype: float64

            0      1      2      3      4
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0

            0      1      2      3      4
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0

            0      1      2      3      4
age      20.0   15.0   30.0   25.0   35.0
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0
sex         F      M      F      M      F

           0     1     2     3     4
age     20.0  15.0  30.0  25.0  35.0
weight  68.5  60.3  53.4  74.1  80.7
sex        F     M     F     M     F